PORT=8080
REDIS_URL=redis://redis:16379
HUBOT_SLACK_TOKEN=
EXTERNAL_SCRIPTS=hubot-help,hubot-pugme,hubot-redis-brain,hubot-maps,hubot-diagnostics,hubot-http-post-say,hubot-uptime-robot
HUBOT_OWNER=skydrop
HUBOT_DESCRIPTION="I deliver"
HUBOT_NAME=huboto-sama
HUBOT_UPTIMEROBOT_APIKEY=
